html {
    background-color: black;
}

h1, h2, h3, h4, h5, span, p, a {
    font-family: monospace;
}

h1, h2, h3, h4, h5, p, span, li {
    color: white;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}


body {
    padding-left: 1rem;
    padding-right: 1rem;
}

.services {
    margin-top: 2rem;
}

.links {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.link {
    color: #00b4d8;
}

.link-padded {
    padding-right: 1rem;
}